@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    position: sticky;
    background-image: url(/pics/bg_con.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-x: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 10px;
    
}

.logo_title, .navbar ul li a{
    color: white;
}

.navbar ul li a{
    padding: 20px;
    margin: 0 20px;
    transition: all 1s ease-in;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a:hover{
    color: black;
    background-color: orange;
    border-radius:  10px;
    transition: all 1s ease-out;
}

.head{
    position: relative;
    width: 400px;
    height: 300px;
    top: 10%;
    border: 3px solid #262626;
    background-color: none;
    margin: auto;
    text-align: center;
    transition: background-color 2s, color 2s;
    color: whitesmoke;
}

.head h1{
    margin-top: 25%;
}

.head:hover{
    background-color: #262626;
    color: cyan;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-image-slice: 1;
}

.head2{
    position: relative;
    width: 100%;
    height: 1450px;
    top: 20%;
    border: 1px solid black;
    background-color: whitesmoke;
    transition: background-color 2s, color 2s;
}

.head2 h1{
    text-align: center;
}




.id{
    position: relative;
    width: 800px;
    height: auto;
    top: 10%;
    border: 3px solid #262626;
    background-color: none;
    margin: auto;
}

.id p{
    text-align: center;
}

.icon img{
    display: inline-block;
    width: 5%;
    height: 5%;
    transition: all 2s ease;
}

#icon1{
    margin-left: 42%;
}

#icon1:hover{
    transform: scale(1.5);
}

#icon2:hover{
    transform: scale(1.5);
}

.head3{
    position: relative;
    width: 100%;
    height: 400px;
    top: 20%;
    border: 1px solid black;
    background-color: whitesmoke;
    transition: background-color 2s, color 2s;

}

.head3 h1{
    text-align: center;
}

.head3:hover{
    color: whitesmoke;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-image-slice: 1;
    background-color: #303030;
}

.footer{
    position: relative;
    width: 100%;
    height: 120px;
    top: 20%;
    margin: 0%;
    border: 1px solid black;
    background-color: #262626;
    color: whitesmoke;
}

#skill img{
    position: relative;
    width: 10%;
    height: 10%;
    margin-top: 65px;
    padding-left: 8.25%;
}


.footer img{
    position: relative;
    margin-right: 1%;
    width: 50px;
    top: 50%;
    height: 50px;
}

.footer{
    text-align: center;
}

.nuage{
    position: relative;
    margin-left: 35%;
}

.arouf{
    position: relative;
    left:15%;
}

table{
    border-collapse: collapse;
    position: relative;
    margin-left: 44%;
}

tr, td{
    border: 1px solid #333;
    text-align: center;
}
